.is-completed{
    text-decoration: line-through;
}
.add_task{
    display: none;
}
.display-block{
    display: block;
}
.margintop20px{
    margin-top: 20px;
}       
.margintop10px{
    margin-top: 10px;
}